@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso Bakery";
}


<div class="row">
    <div class="col-md-6">
        <h2>Today's Specials</h2>
        <ul>
            <li>Fresh-baked bagels $3.99/dozen</li>
            <li>Apple tarts $2/ea</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Hours</h2>
        <ul>
            <li>Monday-Friday 7am - 5pm</li>
            <li>Saturday-Sunda 6am - 11am</li>
        </ul>
    </div>
</div>
